@model TaskManager.Contract.ViewModel.Model.Context.Index
@{
  ViewData["Title"] = "All contexts";
}
<a class="btn btn-default" asp-action="Add">Add</a>
<ul>
  @foreach (var x in Model.Items)
  {
    <li>
      <span style="background-color: @x.Color">&nbsp;</span>
      <a asp-action="Edit" asp-route-id="@x.ContextId">📂</a>
      <a asp-action="Delete" asp-route-id="@x.ContextId">✖️</a>
      @x.Title
    </li>
  }
</ul>
